/* Roboto */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Black.ttf");
  font-weight: 900;
}

/* Playfair */
@font-face {
  font-family: "Playfair";
  src: url("../fonts/Playfair/Playfair-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Playfair";
  src: url("../fonts/Playfair/Playfair-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Playfair";
  src: url("../fonts/Playfair/Playfair-Black.ttf");
  font-weight: 900;
}

/* Hammersmith */
@font-face {
  font-family: "Hammersmith";
  src: url("../fonts/Hammersmith/HammersmithOne-Regular.ttf");
}
