.contact {
  &__container {
    @extend %container;
    padding: 78px 15px 65px;
    display: grid;
    grid-template-columns: 1fr 400px;
    column-gap: 15px;
    justify-content: space-between;

    font-family: "Playfair", serif;
    font-size: 15px;
    text-transform: uppercase;
    scroll-margin-top: $scrollMarginTop;
  }

  &__form {
    display: grid;
    row-gap: 23px;
    max-width: 460px;
    min-width: 300px;
  }

  &__form-title {
    padding-bottom: 7px;
  }

  &__field {
    width: 100%;
    padding: 12px 19px;
    border: 1px solid #e5e5e5;
    font-family: $primaryPageFont;
    font-size: 16px;
    outline: none;

    &--texarea {
      resize: none;
      height: 199px;
      padding-top: 12px;
      padding-left: 20px;
      font-size: 15px;
    }
  }

  &__button {
    @extend %button;
    width: 120px;
    background-color: transparent;
    font-size: 16px;
  }

  &__clients-title {
    padding-bottom: 42px;
  }

  &__clients-container {
    display: grid;
    grid-template-columns: repeat(2, 166px);
    row-gap: 47px;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
  }

  &__client-logo {
    &--billabong {
      margin-top: -33px;
    }
  }
}
