.floating-menu {
  position: sticky;
  top: 0;
  z-index: 1;

  @media (max-width: 629px) {
    visibility: hidden;
  }

  &__container {
    @extend %container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
  }

  &__logo-link {
    display: flex;
    align-items: center;

    @media (max-width: 767px) {
      display: none;
    }
  }

  &__site-title {
    padding-left: 12px;
    font-size: 29px;
    text-transform: lowercase;
    color: $fontHighlightColor;
    font-weight: 100;
  }

  &__navbar {
    @media (max-width: 767px) {
      margin: auto;
    }

    @media (max-width: 629px) {
      width: 100%;
    }
  }

  &__menu-list {
    padding-top: 4px;
    width: 526px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 629px) {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }

  &__menu-link {
    display: block;
    padding: 5px 0;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;

    &:hover {
      color: $fontHighlightColor;
    }
  }
}
