.ourstory {
  padding: 67px 15px 70px;
  scroll-margin-top: $scrollMarginTop;

  &__container {
    @extend %container;
    display: flex;
    justify-content: space-between;
  }

  &__image-container {
    padding-top: 4px;
    max-width: 334px;
    height: 233px;
    flex-grow: 1;
    text-align: center;

    @media (max-width: 629px) {
      display: none;
    }
  }

  &__content {
    max-width: 571px;
    padding-left: 15px;

    @media (max-width: 629px) {
      text-align: center;
    }
  }

  &__title {
    padding-bottom: 20px;
    font-family: $secondaryPageFont;
    text-transform: uppercase;
    font-size: $font-size;
    line-height: $font-size;
    font-weight: 600;
  }

  &__paragraph {
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 27px;
    text-align: left;
  }

  &__button {
    @extend %button;

    @media (max-width: 629px) {
      text-align: center;
    }
  }
}
