.testimonials {
  background-image: url(../images/testimonials_bg.jpg);
  background-size: cover;
  color: $fontSecondaryColor;
  scroll-margin-top: $scrollMarginTop;

  &__container {
    @extend %container;
    text-align: center;
    padding-bottom: 69px;
  }

  &__title {
    margin-bottom: -66px;
    padding: 35px 0;
    font-family: $secondaryPageFont;
    font-weight: 300;
    font-size: 99px;
  }

  &__article {
    padding: 0 85px;
    line-height: 26px;

    @media (max-width: 767px) {
      padding: 0 35px;
    }
  }

  &__paragraph {
    font-family: $secondaryPageFont;
  }

  &__user-name {
    padding-top: 37px;
    font-size: 15px;
    text-transform: uppercase;
  }

  &__user-position {
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__slider {
    padding-top: 39px;
    width: 384px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    width: 15px;
    height: 15px;
    border-top: 1px solid #9f9f9f;
    border-left: 1px solid #9f9f9f;

    &--left {
      transform: rotate(315deg);
    }

    &--right {
      transform: rotate(135deg);
    }
  }

  &__users-container {
    width: 307px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
