%container {
  margin: auto;
  max-width: 940px;
}

%button {
  display: inline-block;
  font-family: "Hammersmith", sans-serif;
  padding: 9px 13px;
  color: $fontHighlightColor;
  text-transform: uppercase;
  border: 1px solid $fontHighlightColor;
  border-radius: 2px;
  transition: color 0.5s, background-color 0.5s;

  &:hover {
    color: $fontSecondaryColor;
    background-color: $fontHighlightColor;
  }
}

%underscore {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 51px / 2);
  width: 50px;
  height: 1px;
}
